.font-1-xs{
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.35;
  font-family: "Playfair Display", serif;
}
.font-2-xs{
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.43;
}

.font-1-s{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}
.font-2-s{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.font-1-m,
.font-1-mb{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.35;
}
.font-1-mb{
  font-weight: 600;
}
.font-2-m{
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.35;
}
.font-1-l{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family:"Playfair Display", serif;
}
.font-2-l,
.font-2-l-b{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}
.font-2-l-b{
  font-weight: 500;
  letter-spacing: .015em;
  text-transform: uppercase;
}
.font-1-xl{
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  font-family:"Playfair Display", serif;
}
.font-2-xl{
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25;
}
.font-1-xxl{
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Playfair Display", serif;
}



@media(max-width: 1200px){
  .font-1-xxl{
    font-size: 3rem;
  }
  .font-2-l, .font-2-l-b{
    font-size: 1.25rem;
  }
}
@media(max-width: 800px){
  .font-1-xxl{
    font-size: 2rem;
  }
  .font-1-xl,.font-2-xl{
    font-size: 1.5rem;
  }
}