.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--vintepx);
  justify-content: space-between;
  align-items: center;
  padding-top: var(--vintepx);
  padding-bottom: var(--vintepx);

}

.header-bg {
  background: var(--c9);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--quarentapx);
}

.header-menu a {
  display: inline-block;
  color: var(--c);
  padding: var(--dezesseispx) 0;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: .125rem;
  width: 0;
  background: var(--c);
  margin-top: var(--quatropx);
  transition: .3s;
  position: absolute;
}

.header-menu a:hover:after,
.header-menu a.ativo::after {
  width: 100%;
}

.logo {
  width: 8rem;
}

@media(max-width: 800px) {
  .header-menu {
    gap: var(--vintepx);
  }

  .header-menu a {
    background: var(--c8);
    padding: .75rem var(--dezesseispx);
    border-radius: var(--quatropx);
  }

  .header-menu a {
    background: var(--c7);
  }

  .header-menu a::after {
    display: none;
  }
}

@media(max-width: 600px) {
  .header-menu {
    gap:var(--dozepx);
  }

  .header-menu a {
    padding: var(----oito-dozepx);
    font-size: .875rem;
  }
}