.intro-bg {
  background: var(--c9) url(../../img/icons/bottom-left.svg) no-repeat bottom 160px left var(--vintepx);
  color: var(--c);
  box-shadow: inset 0 -120px var(--c);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem var(--quarentapx);
  padding-left: var(--vintepx);
  padding-right: var(--vintepx);
}

.intro-conteudo {
  align-self: end;
  padding-bottom: var(--duzentospx);
}

.intro h1 {
  margin-bottom: var(--trintadoispx);
}

.intro p {
  margin-bottom: var(--vintepx);
  color: var(--c3);
}

.intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media(max-width: 800px) {
  .intro-bg {
    background: var(--c8);
    padding-top: var(--quarentapx);
    box-shadow: inset 0 -var(--sessentapx) var(--c);
  }

  .intro {
    grid-template-columns: 1fr;
    gap: var(--trintadoispx);
  }

  .intro-conteudo {
    padding-bottom: 0rem;
  }

  .intro h1 {
    margin-bottom: var(--dezesseispx);
  }

  .intro img {
    height: 18.75rem;
    width: 100%;
  }
}