.parceiros {
  padding-top: var(--sessentapx);
  padding-bottom: 7.5rem;
}

.parceiros h2 {
  margin-bottom: var(--sessentapx);
}

.parceiros ul {
  padding: 0 var(--vintepx);
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: var(--trintadoispx);
  border-left: .125rem solid var(--c2);
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n+5) {
  border-top: .125rem solid var(--c2);
}

@media(max-width:800px) {
  .parceiros {
    padding-bottom: var(--sessentapx);
  }

  .parceiros li {
    padding: var(--vintepx);
  }

  .parceiros h2 {
    margin-bottom: var(--vintepx);
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li:nth-child(n+3) {
    border-top: .125rem solid var(--c2);
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}