.tecnologia-bg {
  background: var(--c8);
  box-shadow: inset 0 80px var(--c), inset 0 -80px var(--c);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--quarentapx);
}

.tecnologia-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.tecnologia-conteudo>span {
  display: block;
  margin-bottom: var(--vintepx);
}

.tecnologia-conteudo h2 {
  margin-bottom: var(--trintadoispx);
}

.tecnologia-conteudo>p {
  margin-bottom: var(--vintepx);
}

.tecnologia a {
  margin-bottom: 5rem;
}

.tecnologia-vantagens {
  display: flex;
  gap: var(--quarentapx);
}

.tecnologia-vantagens h3 {
  margin-bottom: .5rem;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: .5rem;
}

@media(max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-conteudo {
    padding-top: var(--sessentapx);
    padding-bottom: var(--sessentapx);
  }

  .tecnologia-img {
    display: none;
  }

  .tecnologia a {
    margin-bottom: var(--sessentapx);
  }
}

@media(max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}