.cam{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: var(--quarentapx);
  padding-top: var(--sessentapx);
  padding-bottom: var(--sessentapx);
}
#cam .titulo p{
  text-transform: uppercase;
}
#cam .camera-lista ul{
  padding: 0px 0px var(--vintepx) 0px;
}
.cam-img{
  display: flex;
  flex-wrap: wrap;
  gap: var(--vintepx);
}
.cam-img img{
  flex: 1;
  min-width: var(--duzentospx);
  object-fit: cover;
}
.cam-img img:first-child{
  min-width: 100%;
}
.cam-content >p{
  margin-bottom: var(--trintadoispx);
}
.cam-comprar{
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: var(--oito-dozepx);
  margin-bottom: var(--quarentapx);
}
.cam-comprar a{
  grid-row: span 2;
}
.cam-comprar span{
  display: flex;
  align-items: center;
  background: var(--c9);
  padding: var(--quatropx) var(--oitopx);
  border-radius: var(--quatropx);
  gap: .5rem;
}
.cam-content h2{
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: var(--dozepx);
}
.cam-infor,
.ficha-tec{
  padding: var(--trintadoispx);
  background: var(--c9);
  border-radius: var(--quatropx);
}
.cam-infor{
  margin-bottom: var(--quarentapx);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--trintadoispx);
}
.cam-infor img{
  width: var(--vintequatropx);
  margin-bottom: var(--oitopx);
}
.cam-infor h3{
  margin-bottom: var(--oitopx);
}
.ficha-tec li{
  padding: var(--quatropx) 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.063rem solid var(--c8);

}
.ficha-tec li:last-child{
  border-bottom: none;
}

.ficha-tec span{
  color: var(--p3);
}
.cam li{
  color: var(--p2);
}

@media(max-width: 800px){
  .cam{
    grid-template-columns: 1fr;
    padding-top: var(--quarentapx);
    padding-bottom: var(--quarentapx);
  }
  .cam-img{
    grid-row: 2;
  }
}
@media(max-width: 400px){
  .cam-infor, 
  .cam-comprar{
    grid-template-columns: 1fr;
  }
}