.seguro-cam-bg{
  background: var(--c8);
  box-shadow: inset 0 var(--centovintepx) var(--c),inset 0 -7.5rem var(--c9);
}
.seguro-cam{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--quarentapx);
}
.seguro-cam-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seguro-cam-conteudo{
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
}
.seguro-cam h2{
  margin-bottom: var(--trintadoispx);
}
.seguro-cam p{
  margin-bottom: var(--vintepx);
}

@media(max-width:800px){
  .seguro-cam-bg{
    box-shadow: inset 0 -3.75rem var(--c9);
  }
  .seguro-cam{
    grid-template-columns: 1fr;
  }
  .seguro-cam-conteudo{
    grid-row: 1;
    padding-top: var(--quarentapx);
    padding-bottom: 0px;
  }
}