#orcamento{
    background: linear-gradient(var(--c8)600px, var(--c1) 0px)
}
.orcamento{
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: var(--centovintepx);
}
.orcamento h2{
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}
.orcamento h2::before{
  content: "";
  display: inline-block;
  width: var(--quatropx);
  height: var(--oitopx);
  background: var(--p1);
  position: absolute;
  left: -12px;
}
.orcamento-produto,
.orcamento-dados{
  padding: var(--sessentapx);
  box-shadow: var(--box-shadow);
}
.orcamento-produto{
  border-radius: 5px 0 0 5px;
  background: var(--c9) url(../../img//icons/bottom-left.svg)no-repeat bottom var(--vintepx) left var(--vintepx);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--vintepx);
  align-content: start;
}
.orcamento-produto > * {
  grid-column: 1/-1;
}
.orcamento-produto > label{
  grid-column: initial;
}
.orcamento-produto label{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
  color: var(--p3);
  background: var(--c8);
  padding: var(--dozepx) var(--dezesseispx);
  border-radius: var(--quatropx);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--c8);
}
.orcamento-produto input:checked + label{
  background: var(--c);
  color: var(--c8);
}
.orcamento-produto label::before{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: var(--dozepx);
  height: var(--dozepx);
  border: 1px solid var(--c6);
  border-radius: 50%;
  margin-right: var(--oitopx);
}
.orcamento-produto input:checked + label::before{
  border-color: var(--c7);
  box-shadow: inset 0 0 0 3px var(--c), inset 0 0 0 6px var(--c7);
}
.orcamento-produto label:hover{
  background: var(--c6);
  border-color: var(--c6);
}
.orcamento-produto input:focus + label{
  box-shadow: 0 0 0 2px var(--p1);
  border-color:var(--c9);
}

.orcamento-produto label span{
  display: none;
}

.orcamento-produto input:checked + label span{
  display: inline-block;
}
.orcamento-produto input[type="radio"]{
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.orcamento-dados{
  border-radius: 0 5px 5px 0;
  background: var(--c) url(../../img//icons/bottom-right.svg)no-repeat bottom var(--vintepx) right var(--vintepx);
}
.orcamento-conteudo{
  display: none;
}
.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n+2){
  margin-top: var(--vintepx);
}
#lumiere:checked ~ #orcamento-lumiere,
#seguro:checked ~ #orcamento-seguro{
  display: grid;
  gap: var(--vintepx);
}

.orcamento-detalhes{
  display: none;
  background: var(--c);
  padding: var(--vintepx);
  grid-template-columns: 1fr 1fr;
  border-radius: var(--quatropx);
  align-items: center;
}
.orcamento-detalhes li{
  color: var(--c6);
  display: flex;
  align-items: center;
  margin-bottom: var(--oitopx);
}
.orcamento-detalhes li img{
  width: var(--dezesseispx);
  margin-right: var(--oitopx);
}
.orcamento-produto input:checked + label + .orcamento-detalhes{
  display: grid;
}

@media(max-width: 1200px){
  .orcamento-produto,
  .orcamento-dados{
    padding: var(--trintadoispx);
  }
}
@media(max-width: 800px){
  .orcamento{
    grid-template-columns: 1fr;
  }
  .orcamento-produto{
    border-radius: 5px 5px 0 0;
    background: var(--c9);
  }
  .orcamento-dados{
    border-radius: 0 0 5px 5px;
  }
}
@media(max-width: 400px){

  .orcamento-produto{
    grid-template-columns: 1fr;
  }
}